body {
    background-color: blanchedalmond;
    font-family: 'Sulphur Point', sans-serif;
}

.header{
    text-align: center;
}
/* holding the cards together */
.container { 
    width: 85%;
    max-width: 1200px;
    margin: 150px auto;
}

/* ICON */
i{
    padding-top: 20px;
}

/* UNORDERED */
.flashcards {
    list-style-type: none;
    padding: 0px;
    
}

/* individual cards */
.flashcards li {
    width: 20%;
    /* margin: auto; */
    position: relative;
    float: left;
    display: block;
    box-sizing: border-box;
}

/* front and back and size*/
.flashcards li div {
    width: 95%;
    padding: 80% 0;
    text-align: center;
    cursor: crosshair;
    border: 1px solid black;
    text-transform: capitalize;
    line-height: 0;
    letter-spacing: 1px;
    border-radius: 5px;
}

 /* flipping */
.flashcards div.back{
    transform: rotateY(90deg);
}

/* .flashcards div.front{
    position: absolute;
}

.flashcards li:hover div.front{
    animation: flip 0.6s ease-in forwards;
}

.flashcards li:hover div.back{
    animation: flip 0.6s ease-in forwards reverse;
}

@keyframes flip {
    0% {transform: rotateY(0deg)}
    100% {transform: rotateY(90deg)}
} */

.on {
    transform: rotateY(0deg);
}

.off {
    transform: rotateY(0deg);
}













