body {
    background-color: blanchedalmond;
    font-family: 'Sulphur Point', sans-serif;
}

.container {
    width: 75%;
    max-width: 1200px;
    margin: 40px auto;
}

i{
    padding-top: 20px;
}

.fcrdcontainer {
    perspective: 1000;
    margin: 10px;
    float: left;
    cursor:pointer;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

/* .front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
} */

.fcrdcontainer .front .back {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100;
    border-radius: 3px;
    font-size: 40px;
}

